body {
    background-color: #ffffff;
    background-position: center top;
    background-position-y: 0;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    margin: 35px;
}
h1 {
    font-family: 'Lato', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 5px;
}
h2 {
    font-family: 'Lato', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin: 0px;
}
h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
h4 {
    font-family: 'Lato', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    text-align: center;
    margin-left: 35px;
}
a {
    text-decoration: none;
    float: center;
    color: black;
}
.grid {
    display: grid;
    grid-template-columns: 30% 10% 60%;
    margin: 35px;
}
.wrapper {
    width:70%;
    height: 30%;
    padding:25% 0;
    line-height: 0;
    border-radius:50%;
    text-align: center;
    background: #6E42FF; 
    opacity: 80%;
    text-decoration: none;
}
.wrapper:hover {
    background: radial-gradient( ellipse at center, #6E42FF 30%, #6E42FF 60%, white 70%);
}
h3:hover {
    color: #ffffff;
}
.container {
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    float: right;
    align-items: flex-start;
    align-content: center;  
}
body {
    background-color: #ffffff;
    /*
    background-image: url("../images/Background_circle_transparent.png");
    */
    background-position: center top;
    background-position-y: 0;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
}
p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin: 10rem;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}
.pageheading {
    text-align: center;
}
button {
    background-color: white;
    border-radius: 48%;
    padding: 10px 10px;
    height: max-content;
    width: max-content;
    border: none;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin: 10px;
}
.buttons {
    margin-top: 25px;
    margin-bottom: 25px;
}
.resume {
    margin-left: 10rem;
}
.projects {
    margin: 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: none;
    gap: 10px;
    justify-content: space-evenly;
}
.projectimages{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:#af99ff;
}
.blocktext {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 0;
    height: max-content;
}